/* GLOBAL */

body {
    height: 2500px;
    background: rgb(232, 229, 245);
}

.head-section-title {
    font-family: 'Cabin', sans-serif;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #FD9308;
    margin-bottom: 15px;
    color: rgb(80, 83, 85);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

.lineBreak {
    display: block;
}

/*=============== ERROR SCREEN ===============*/
.wrapper { display: none; }
.error-message-container {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    
}

.error-message-screen {
    position: relative;
    background: rgb(229, 232, 237);
    border-radius: 7px;
    padding: 10px;
}
.error-message-screen .head-section-title { font-size: 20px; }

.error-message-screen .close-error:hover { color: rgb(80, 83, 85); }
.error-message-screen .close-error {
    font-size: 25px;
    padding: 0 10px;
    color: rgb(131, 129, 127);
    position: absolute;
    top: 7px;
    right: 15px;
}

.error-message-screen .error-message {
    font-size: 17px;
    text-align: center;
    padding-bottom: 5px;
    font-family: 'Nunito', sans-serif;    
}


/*=============== HEADER ===============*/

header {
    background: #5A6571;
    /* border-bottom: 2px solid #FD9308; */
}

header .logo {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

header .logo h1 {
    color: white;
    margin-left: 15px;
    margin-top: 7px;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}

.header-content {
    display: flex;
    align-items: center;
    height: 70px;
}

header img {
    margin-top: 5px;
    width: 50px;
    height: 50px;
}

header .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .nav ul {
    margin-right: 20px;
}

header .nav li {
    padding: 0 20px;
    border-right: 1px solid #FD9308;
}

header .nav li:last-child {
    border-right: 0;
}

header .nav a {
    color: #E5E8ED;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 1px;
    font-family: 'Cabin', sans-serif;
}


/*=============== PARALLAX BACKGROUND ===============*/

.parallax {
    height: 700px;
    position: relative;
    background-image: url('../img/sunny.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* ebasi qkoto neshto! */
    background-attachment: fixed;
}


/*=============== CONTENT ===============*/


/* ROUND TOGGLE SWITCH BUTTON */

.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
    border-radius: 20px;
}

.toggle.ios .toggle-handle {
    border-radius: 20px;
}


/* MAIN CONTENT */

.main-content .content {
    position: relative;
    margin-top: 100px;
    height: 600px;
}

.main-content .main .weather-info {
    padding: 10px 13px;
    background: rgba(229, 232, 237, 0.9);
    border-radius: 5px;
}

.main-content .main .city-name {
    font-family: 'Cabin', sans-serif;
    letter-spacing: 1px;
    font-size: 35px;
    color: rgb(80, 83, 85);
}

.main-content .main .country-name {
    color: rgb(80, 83, 85);
    padding-left: 15px;
}

.main-content .main .weather-icon {
    font-size: 70px;
    color: rgb(80, 83, 85);
    margin-top: 20px;
}

.main-content .main .plus-icon {
    font-size: 45px;
    color: #FD9308;
}

.main-content .main .plus-icon:hover {
    color: rgb(255, 115, 0);
}

.main-content .main .cel-far {
    font-size: 70px;
    font-weight: bold;
    color: rgb(80, 83, 85);
}

.weather-descr { padding-left: 22px; }
.main-content .main .main-weather-section { margin-top: 30px; }

.main-content .main .main-weather-section-below p {
    color: rgb(80, 83, 85);
    font-size: 18px;
}

/* WEATHER DETAILS */
.weather-details {
    margin-top: 3%;
    padding: 13px;
    background: rgba(229, 232, 237, 0.9);
    border-radius: 5px;
}

.weather-details .row li {
    color: rgb(102, 106, 107);
    text-decoration: none;
    font-size: 14px;
    padding: 10px 0;
    font-family: 'Nunito', sans-serif;
}

.weather-details .weather-values {
    padding-left: 10px;
    color: rgb(80, 83, 85);
}
.weather-details span{ font-family: 'Cabin', sans-serif; }


/* FAVORITE CITIES */

.main-content .favorite-cities {
    padding: 10px 13px;
    background: rgba(229, 232, 237, 0.9);
    border-radius: 5px;
    max-height: 555px;
    overflow: hidden;
}

.main-content .fav-cities-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    padding: 0 10px;
    border-left: 3px solid transparent;
    border-radius: 3px;
    text-decoration: none;
}

.main-content .favorite-cities li {
    color: rgb(80, 83, 85);
    font-size: 19px;
    font-family: 'Nunito', sans-serif;
}

.main-content .fav-cities-list:hover {
    background: rgb(235, 235, 235);
    border-left: 3px solid #FD9308;
}

.main-content .fav-cities-list:hover .cross i {
    display: flex;
}

.main-content .fav-cities-list .cross i {
    font-size: 18px;
    color: rgb(139, 139, 139);
    padding: 4px;
    display: none;
}

.map-details {
    width: 100%;
    height: 500px;
}