/* GLOBAL */
body {
    height: 2500px;
    background: rgb(232, 229, 245);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
}

.lineBreak {
    display: block;
}

/*=============== HEADER ===============*/
header {
    background: #5A6571;
    /* border-bottom: 2px solid #FD9308; */
}

header .logo {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

header .logo h1 {
    color: white;
    margin-left: 15px;
    margin-top: 7px;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
    cursor: default;
}

.header-content {
    display: flex;
    align-items: center;
    height: 70px;
}

header img {
    margin-top: 5px;
    width: 50px;
    height: 50px;
}

header .nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .nav ul {
    margin-right: 20px;
}

header .nav li { 
    padding: 0 20px;
    border-right: 1px solid #FD9308;
}

header .nav li:last-child { border-right: 0; }

header .nav a {
    color: #E5E8ED;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 1px;
    /* font-weight: bold; */
}

/*=============== PARALLAX BACKGROUND ===============*/
.parallax {
    height: 700px;
    position: relative;
    background-image: url('../img/sunny.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* ebasi qkoto neshto! */
    background-attachment: fixed;
}

/*=============== CONTENT ===============*/

/* ROUND TOGGLE SWITCH BUTTON */
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }

/* MAIN CONTENT */

.main-content .content {
    position: relative;
    margin-top: 100px;
    height: 600px;
}

.main-content .main .weather-info {
    padding: 10px 13px;
    background: #E5E8ED;
    border-radius: 5px;
}

.main-content .main .head-section-title {
    font-family: 'Cabin', sans-serif;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #FD9308;
    margin-bottom: 15px;
    color: rgb(80, 83, 85);
}

.main-content .main .city-name {
    font-family: 'Cabin', sans-serif;
    letter-spacing: 1px;
    font-size: 35px;
    color: rgb(80, 83, 85);
}

.main-content .main .country-name { 
    color: rgb(80, 83, 85);
    padding-left: 15px;
}

.main-content .main .weather-icon {
    font-size: 70px;
    color: rgb(80, 83, 85);
    margin-top: 20px;
}

.main-content .main .plus-icon {
    font-size: 25px;
    color: #FD9308;
}

.main-content .main .cel-far {
    font-size: 70px;
    font-weight: bold;
    color: rgb(80, 83, 85);
}

.main-content .main .main-weather-section { margin-top: 30px; }
.main-content .main .main-weather-section-below p {
    color: rgb(80, 83, 85);
    font-size: 18px;
}

/* WEATHER DETAILS  */ 
.weather-details {
    margin-top: 3%;
    padding: 13px;
    background: rgb(229, 232, 237, 0.9);
    border-radius: 5px;
    font-family: 'Cabin', sans-serif;
}

.weather-details .row li {
    color: rgb(102, 106, 107);
    text-decoration: none;
    font-size: 14px;
    padding: 10px 0;
    font-family: 'Nunito', sans-serif;
}

.weather-details span {
    padding-left: 10px;
    color: rgb(80, 83, 85);
    font-family: 'Cabin', sans-serif;
}